<div th:fragment=base>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta property=og:type content=website />
    <meta content=summary_large_image name=twitter:card />
    <meta content="width=device-width, initial-scale=1" name=viewport />
    <link th:href="@{|/css/color_definitions.css?t=${tick}|}" media=all rel=stylesheet class=light-scheme />
    <link th:href="@{|/css/desktop.css?t=${tick}|}" media=all rel=stylesheet data-target=desktop />
    <link th:href="@{|/css/desktop_theme.css?t=${tick}|}" media=all rel=stylesheet data-target=desktop_theme data-theme-id="3" />
    <link th:href="@{|/image/logo64.png?t=${tick}|}" rel="shortcut icon" type=image/x-icon />
</div>