<div th:fragment=header>
    <div class="navigation-wrap wf-section">
        <div data-collapse=medium data-animation=default data-duration=400 data-easing=ease data-easing2=ease
             role=banner class="navigation w-nav">
            <div class=navigation-container>
                <div class=navigation-left>
                    <a th:href=@{/} aria-current=page class="brand w-nav-brand w--current"><img
                            th:src="@{|/image/logo_head.svg?t=${tick}|}" alt class="template-logo"/></a>
                    <nav role=navigation class="nav-menu w-nav-menu">
                        <a th:href=@{/install} class="link-block w-inline-block">
                            <div class=text-block-2>다운로드</div>
                        </a>
                        <a th:href=@{/forum} class="link-block w-inline-block">
                            <div class=text-block-2>포럼</div>
                        </a>
                        <th:block th:if="${is_login}">
                            <a th:href="${URI_BLACKLIST_TAG}" class="link-block w-inline-block">
                                <div class=text-block-2>환경설정</div>
                            </a>
                        </th:block>
                    </nav>
                </div>
                <div class=navigation-right>
                    <div th:if="not ${is_login}" class=login-buttons>
                        <a th:href=@{/register} class="button-menu w-button">회원가입</a>
                    </div>
                    <div th:if="${is_login}">
                        <a th:href=@{/modify} class="link-block w-inline-block">
                            <div class=text-block-7>계정관리</div>
                        </a>
                        <a th:href=@{/logout} class="link-block w-inline-block">
                            <div class=text-block-7>로그아웃</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div data-collapse=medium data-animation=default data-duration=420 data-easing=ease-out data-easing2=ease-out
             data-w-id=6d024619-d09a-60b7-5688-08f6b40b092b role=banner class="navigation-mobile w-nav">
            <div class=nav-container-mobile>
                <a th:href=@{/} aria-current=page class="brand-2 w-nav-brand w--current"><img
                        th:src="@{|/image/logo_head_mob.svg?t=${tick}|}" class="template-logo"/></a>
                <nav role=navigation class="mobile-nav w-nav-menu">
                    <a th:href=@{/install} class="mobile-nav-link w-nav-link w--nav-link-open">다운로드</a>
                    <a th:href=@{/forum} class="mobile-nav-link w-nav-link w--nav-link-open">포럼</a>
                    <th:block th:if="${is_login}">
                        <a th:href="${URI_BLACKLIST_TAG}" class="mobile-nav-link w-nav-link w--nav-link-open">환경설정</a>
                    </th:block>
                    <th:block th:if="not ${is_login}">
                        <div class=login-buttons>
                            <a th:href=@{/register} class="button-menu w-button">회원가입</a>
                        </div>
                    </th:block>
                    <th:block th:if="${is_login}">
                        <a th:href=@{/modify} class="mobile-nav-link w-nav-link">계정관리</a>
                        <a th:href=@{/logout} class="mobile-nav-link w-nav-link">로그아웃</a>
                    </th:block>
                </nav>
                <div class="menu-mobile w-nav-button">
                    <div data-w-id=6d024619-d09a-60b7-5688-08f6b40b097a data-animation-type=lottie
                         data-src=https://assets-global.website-files.com/602eda09fc78afc76e9706b6/606c22a92b28775a6b9f658e_menu-icon-08.json
                         data-loop=0 data-direction=1 data-autoplay=0 data-is-ix2-target=1 data-renderer=svg
                         data-default-duration=2.0208333333333335 data-duration=0 class=menu-lottie></div>
                </div>
            </div>
        </div>
    </div>
</div>