<!DOCTYPE html>
<html data-wf-page=612c76d0901fda2560965c5e data-wf-site=602eda09fc78afc76e9706b6>
<head>
	<title>StarBridge | Tools</title>
	<th:block th:include="components/base :: base(true)"></th:block>
	<link rel=stylesheet href=https://use.fontawesome.com/releases/v5.14.0/css/all.css />
	<link rel=stylesheet th:href="@{|/css/mdb.min.css?t=${tick}|}"/>
	<link rel=stylesheet th:href="@{|/css/table-editor.min.css?t=${tick}|}"/>
	<style>.ps__rail-x,.ps__rail-y{display:none !important}body{-ms-overflow-style:none;scrollbar-width:none;line-height:1.7}body::-webkit-scrollbar{display:none}.w--current{font-weight:700}.p--range{padding-top:15px;padding-bottom:80px}.p-range{padding-top:10px;padding-bottom:20px;color:black}.prange{padding-bottom:30px}</style>
	<th:block th:if="${#strings.contains(uri, 'export') or #strings.contains(uri, 'import')}">
		<style>table > tbody > tr:nth-child(n) > td:nth-child(4), table > thead > tr > th:nth-child(4) {
			display: none
		}</style>
	</th:block>
	<th:block th:if="${#strings.contains(uri, URI_ROOM_FILTER)}">
		<style>table > tbody > tr:nth-child(n) > td:nth-child(3), table > thead > tr > th:nth-child(3) {
			display: none
		}</style>
	</th:block>
</head>
<body th:with="is_login=not ${#strings.isEmpty(memberDTO.id)}">
<div style=display:none id=toText></div>
<header th:include="components/header :: header"></header>
<div class=marketplace-section>
<div class=marketplace-container>
<div class="w-layout-grid marketplace-grid">
<div class=marketplace-content-right>
<div class=marketplace-stick-wrapper>
<div class=categories-block>
<div class=category-sidebar-title>옵션 목록</div>
<div class=w-dyn-list>
<div role=list class=w-dyn-items>
<div role=listitem class=w-dyn-item><a th:href="${URI_BLACKLIST_TAG}" class=marketplace-category>블랙리스트 | 배틀태그</a></div>
<div role=listitem class=w-dyn-item><a th:href="${URI_BLACKLIST_IP}" class=marketplace-category>블랙리스트 | 아이피</a></div>
<div role=listitem class=w-dyn-item><a th:href="${URI_ROOM_FILTER}" class=marketplace-category>방 목록 필터링</a></div>
<div role=listitem class=w-dyn-item><a th:href="${URI_ROOM_ROLE}" class=marketplace-category>방 입장 조건</a></div>
<div role=listitem class=w-dyn-item><a th:href="${URI_PLAYER}" class=marketplace-category>플레이어</a></div>
</div>
</div>
</div>
</div>
</div>
<div class=marketplace-content-left>
<div style=display:none id=member_id th:text="${memberDTO.id}"></div>
<th:block th:switch=${uri}>
<div th:case="${URI_BLACKLIST_TAG}"><div th:include="bridge/blacklist_tag :: content"></div></div>
<div th:case="${URI_BLACKLIST_TAG_EXPORT}"><div th:include="bridge/blacklist_tag_export :: content"></div></div>
<div th:case="${URI_BLACKLIST_TAG_IMPORT}"><div th:include="bridge/blacklist_tag_import :: content"></div></div>
<div th:case="${URI_BLACKLIST_IP}"><div th:include="bridge/blacklist_ip :: content"></div></div>
<div th:case="${URI_BLACKLIST_IP_EXPORT}"><div th:include="bridge/blacklist_ip_export :: content"></div></div>
<div th:case="${URI_BLACKLIST_IP_IMPORT}"><div th:include="bridge/blacklist_ip_import :: content"></div></div>
<div th:case="${URI_ROOM_FILTER}"><div th:include="bridge/room_filter :: content"></div></div>
<div th:case="${URI_ROOM_FILTER_EXPORT}"><div th:include="bridge/room_filter_export :: content"></div></div>
<div th:case="${URI_ROOM_FILTER_IMPORT}"><div th:include="bridge/room_filter_import :: content"></div></div>
<div th:case="${URI_ROOM_ROLE}"><div th:include="bridge/room_role :: content"></div></div>
<div th:case="${URI_PLAYER}"><div th:include="bridge/player :: content"></div></div>
</th:block>
</div>
</div>
</div>
</div>
<script src=https://code.jquery.com/jquery-3.6.0.js integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin=anonymous></script>
<script th:src="@{|/js/f2b74be3e.js?t=${tick}|}"></script>
<script th:src="@{|/js/common.js?t=${tick}|}"></script>
<script th:if="not ${#strings.isEmpty(subJs)}" th:src="@{|/js${subJs}.js?t=${tick}|}"></script>
<script th:src="@{|/js${uri}.js?t=${tick}|}"></script>
<script th:src="@{|/js/mdb.min.js?t=${tick}|}"></script>
<script th:src="@{|/js/tableEditor.min.js?t=${tick}|}"></script>
</body>
</html>